{% extends 'default.html' %}
{% set title = lesson.title %}
{% set description = lesson.title %}

{% block content %}
  <main id="hero-block">
    <div class="container container-small">
      <h1 class="lesson-title">{{ lesson.title }}</h1>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 319"><path fill="#f2f2f2" fill-opacity="1" d="M0,256L48,229.3C96,203,192,149,288,154.7C384,160,480,224,576,218.7C672,213,768,139,864,128C960,117,1056,171,1152,197.3C1248,224,1344,224,1392,224L1440,224L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>
  </main>

  <div class="container container-main">
    {% filter markdown %}{{ lesson.body | safe }}{% endfilter %}

    {% if current_user.is_authenticated %}
      <div class="lesson-clickers">
        {% if previous %}<a href="{{ url_for('lessons.lesson', id=previous.id) }}" class="lesson-clicker clicker-previous {% if not next %}only-clicker{% endif %}">Vorige les</a>{% endif %}
        {% if next %}<a href="{{ url_for('lessons.lesson', id=next.id) }}" class="lesson-clicker clicker-next {% if not previous %}only-clicker{% endif %}">Volgende les</a>{% endif %}
      </div>
    {% endif %}
    {% if current_user.admin %}<p class="center"><a href="{{ url_for('lessons.edit_lesson', id=lesson.id) }}">Wijzig les</a></p>{% endif %}
  </div>
{% endblock %}