/* default body styles */

body {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

::selection {
  background-color: rgb(158, 158, 232);
}
img::selection {
  background-color: transparent;
}
::-moz-selection {
  background-color: rgb(158, 158, 232);
}
img::-moz-selection {
  background-color: transparent;
}


/* text */

h1, h2, h3, h4 {
  line-height: 1.05;
  margin: 0 0 20px;
  color: #232323;
}

h1 {
  font-size: 2.7em;
  text-transform: uppercase;
}

p {
  font-size: 1em;
  line-height: 1.8;
  margin: 0 0 20px;
  color: #222222;
}

p.subtitle {
  font-size: 1.3em;
  color: #555555;
  margin-top: -10px;
}

p.small {
  font-size: 15px;
  color: #555555;
}


/* links */

a {
  color: indigo;
  text-decoration-thickness: 2px;
  text-decoration-color: rgb(158, 158, 232);
  position: relative;
}

a:hover {
  text-decoration-color: indigo;
}

a:focus {
  outline: 0;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, .5);
  border-radius: .2em;
}


/* buttons */

*.button {
  display: inline-block;
  padding: 15px 40px;
  line-height: 1;
  background: transparent;
  font-size: 16px;
  border: 2px solid indigo;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  color: indigo;
  cursor: pointer;
  border-radius: .5em;
  position: relative;
  overflow: hidden;
  transition: .2s;
  -webkit-appearance: none;
}

*.button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: indigo;
  z-index: -1;
  transform: translateY(100%);
  transition: .2s;
}

*.button:hover,
*.button:focus {
  color: white;
}

*.button:hover::after,
*.button:focus::after {
  transform: translateY(0);
}


/* containers */

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.container.container-main {
  margin: 40px auto;
}

.container.container-small {
  max-width: 640px;
}


/* alerts */

.alert {
  position: fixed;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  width: 80%;
  max-width: 400px;
  background: white;
  padding: 10px 70px 10px 30px;
  border-radius: 2em;
  box-shadow: 5px 5px 10px rgba(43, 23, 58, 0.4);
  box-sizing: border-box;
  color: #222;
  transition: .15s;
  pointer-events: auto;
}

.alert.invisible {
  opacity: 0;
  transform: translateX(-50%) scale(0.95);
  pointer-events: none;
}

.alert span.close {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 25px;
  color: #444;
}

.alert span.close:hover,
.alert span.close:focus {
  color: black;
} 