/* styles for homepage */

h1 a.new-course-button {
  text-decoration: none;
  font-size: 30px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: indigo;
  color: white;
  position: absolute;
  right: 20px;
  line-height: 1;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  transition: .3s;
  font-weight: 400;
  border: 2px solid indigo;
}

h1 a.new-course-button:hover,
h1 a.new-course-button:focus {
  box-shadow: 5px 5px 20px 5px rgba(0,0,0,.3);
  background: transparent;
  color: indigo;
}



/* styles for welcome page */

main#welcome-wrapper {
  padding: 50px 0 0 0;
  background: indigo;
  color: white;
}

main#welcome-wrapper .container {
  position: relative;
}

main#welcome-wrapper h2.welcome-title {
  font-size: 2.5rem;
  font-family: 'SF Mono', monospace;
  color: #f2f2f2;
  margin-bottom: 30px;
}

main#welcome-wrapper p.welcome-text {
  font-size: 1.3rem;
  color: #c9c9c9;
  margin: 0;
  line-height: 2;
}

main#welcome-wrapper svg {
  display: block;
}

#float-button-group {
  position: absolute;
  width: 100%;
  margin-top: 30px;
  left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}

#float-button-group .float-button {
  margin-bottom: 10px;
  border: 3px solid rgb(158, 158, 232);
  border-radius: 1.5em;
  color: black;
  background: white;
  display: block;
  width: auto;
  text-align: center;
  padding: 15px 30px;
  text-decoration: none;
  transition: .3s;
  box-sizing: border-box;
}

#float-button-group .float-button:hover,
#float-button-group .float-button:focus {
  transform: scale(1.03);
  box-shadow: 0 10px 20px -5px rgba(0,0,0,.5);
}


/* hero block */

main#hero-block {
  padding: 50px 0 0;
  background: indigo;
  margin-bottom: -30px;
}

main#hero-block h1 {
  color: #c2c2c2;
  font-size: 3rem;
}

main#hero-block h1.lesson-title {
  margin-bottom: -120px;
}

main#hero-block p {
  font-size: 1.3rem;
  color: #c2c2c2;
  line-height: 1.8;
  margin-bottom: -100px;
}

@media screen and (max-width: 1200px) {
  main#hero-block p {
    margin-bottom: -50px;
  }

  main#hero-block h1.lesson-title {
    margin-bottom: -75px;
  }
}

@media screen and (max-width: 800px) {
  main#hero-block p {
    margin-bottom: 0;
  }

  main#hero-block h1.lesson-title {
    margin-bottom: -10px;
    font-size: 2rem;
  }
}

main#hero-block svg {
  display: block;
}


/* lessons */

p.back {
  margin-bottom: 10px;
  display: inline-block;
}

p.back a {
  text-decoration: none;
  color: #777;
  font-weight: bold;
  transition: color .3s;
}

p.back:hover a,
p.back:focus a {
  color: black;
}

#lessons {
  margin-top: 40px;
}

h2.course-title {
  font-size: 1.8rem;
}

h2.course-title a {
  font-size: 1.2rem;
  margin-left: 10px;
}

.course {
  margin-bottom: 30px;
}

.lessons-flex {
  display: flex;
  flex-wrap: wrap;
}

a.lesson {
  width: 30%;
  color: white;
  text-decoration: none;
  border-radius: .5em;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  box-shadow: 0 10px 20px -5px rgba(0,0,0,.5);
  transition: .3s;
  margin-right: calc(10%/2);
  margin-bottom: 30px;
  flex-basis: 30%;
  background: linear-gradient(indigo, rgb(162, 98, 208));
  position: relative;
}

a.lesson.locked {
  background: linear-gradient(rgb(99, 99, 99), rgb(45, 45, 45));
}

a.lesson.unlocked:hover,
a.lesson.unlocked:focus {
  box-shadow: 0 30px 20px -20px rgba(0,0,0,.4);
  transform: scale(1.1);
  position: relative;
  z-index: 900;
}

a.lesson:nth-child(3n) {
  margin-right: 0;
}

a.lesson span.lesson-unlock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(.9);
  width: 310px;
  padding: 10px;
  background: indigo;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: .5em;
  box-shadow: 0 10px 20px -5px rgba(0,0,0,.5);
  opacity: 0;
  pointer-events: none;
  transition: .2s;
  z-index: 910;
}

a.lesson span.lesson-unlock.visible {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 900px) {
  a.lesson {
    flex-basis: 45%;
    margin-right: calc(10%/1);
  }

  a.lesson:nth-child(2n) {
    margin-right: 0;
  }
  
  a.lesson:nth-child(3n) {
    margin-right: calc(10%/1);
  }
}

@media screen and (max-width: 600px) {
  a.lesson {
    flex-basis: 100%;
    margin-right: 0;
  }

  a.lesson:nth-child(2n) {
    margin-right: 0;
  }
  
  a.lesson:nth-child(3n) {
    margin-right: 0;
  }
}

a.lesson h3.lesson-title {
  color: #f2f2f2;
  margin: 0;
  line-height: 1.2;
}

a.lesson img.lesson_img {
  display: block;
  fill: white;
  max-width: 70px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.lesson-clickers {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
}

a.lesson-clicker {
  display: block;
  width: 50%;
  text-align: center;
  margin-top: 20px;
  background: indigo;
  color: #ddd;
  font-size: 14px;
  padding: 10px;
  text-decoration: none;
  transition: .2s;
  box-sizing: border-box;
}

a.lesson-clicker:hover,
a.lesson-clicker:focus {
  background: rgb(112, 71, 142);
}

a.clicker-previous {
  border-radius: .5em 0 0 .5em;
  border: solid rgb(54, 0, 93);
  border-width: 3px 1.5px 3px 3px;
}

a.clicker-next {
  border-radius: 0 .5em .5em 0;
  border: solid rgb(54, 0, 93);
  border-width: 3px 3px 3px 1.5px;
}

a.only-clicker {
  border-radius: .5em;
  border: 3px solid rgb(54, 0, 93);
  margin: 20px auto 0 auto;
}