<!DOCTYPE html>
<html lang="nl">
  <head>
    <!-- required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% if description %}<meta name="description" content="{{ description }}">{% endif %}
    {% if author %}<meta name="author" content="{{ author }}">{% endif %}

    <!-- title -->
    <title>{% if title %}{{ title }} - {% endif %}Learning Python</title>

    <!-- links to css -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;1,400;1,600&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital@0;1&display=swap">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navigation.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/page-specific.css') }}">
  </head>

  <body>
    <nav class="navbar">
      <div class="container navbar-container">
        <a href="{{ url_for('posts.index') }}" class="navbar-logo navbar-logo-center">Learning Python</a>
      </div>
    </nav>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="alert" id="page-alert">{{ message }}
            <span class="close" onclick="this.parentElement.classList.add('invisible');">&times;</span>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    
    {% block content %}{% endblock %}

    <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
  </body>
</html>