{% extends 'default.html' %}
{% set current = 'home' %}
{% set description = 'Welkom op Learning Python! Op deze site leer je de basisbeginselen van Python en leer je hoe je een simpele site kan maken met Python!' %}

{% block content %}
  <div class="container container-main">
    <h1 class="color">Alle Lessen
      {% if current_user.admin %}
        <a href="{{ url_for('lessons.new_course') }}" class="new-course-button">&plus;</a>
      {% endif %}
    </h1>

    <section id="lessons">
      <div class="course course-beginners">
        <h2 class="course-title">Beginners Cursus</h2>
        <div class="lessons-flex">
          {% for lesson in beginnerLessons %}
            <a class="lesson {% if not current_user and lesson.locked %}locked{% else %}unlocked{% endif %}" {% if not current_user and lesson.locked %}onclick="lockedLesson(this);"{% else %}href="{{ url_for('lessons.lesson', id=lesson.id) }}"{% endif %}>
              <img src="{{ url_for('static', filename='img/lesson.svg') }}" alt="lesson.svg" class="lesson_img">
              <h3 class="lesson-title">{{ lesson.title }}</h3>
              {% if not current_user and lesson.locked %}<span class="lesson-unlock">Log in om deze les te kunnen bekijken</span>{% endif %}
            </a>
          {% endfor %}
        </div>
      </div>

      <div class="course course-website">
        <h2 class="course-title">Website Cursus</h2>
        <div class="lessons-flex">
          {% for lesson in websiteLessons %}
            <a class="lesson {% if not current_user and lesson.locked %}locked{% else %}unlocked{% endif %}" {% if not current_user and lesson.locked %}onclick="lockedLesson(this);"{% else %}href="{{ url_for('lessons.lesson', id=lesson.id) }}"{% endif %}>
              <img src="{{ url_for('static', filename='img/web.svg') }}" alt="web.svg" class="lesson_img">
              <h3 class="lesson-title">{{ lesson.title }}</h3>
              {% if not current_user and lesson.locked %}<span class="lesson-unlock">Log in om deze les te kunnen bekijken</span>{% endif %}
            </a>
          {% endfor %}
        </div>
      </div>
    </section>
  </div>
{% endblock %}