{% extends 'default.html' %}
{% set current = 'home' %}
{% set description = 'Welkom op Learning Python! Op deze site leer je de basisbeginselen van Python en leer je hoe je een simpele site kan maken met Python!' %}

{% block content %}
  <div class="container container-main container-small">
    <h1>Hello, world!</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis dignissimos eaque repellendus, cupiditate eius veniam hic atque labore autem, quod quasi perferendis dolor blanditiis libero? Debitis provident eum at <a href="#">quaerat rem</a> quae expedita eaque, minima perferendis, nobis laudantium enim voluptas aspernatur nihil temporibus animi exercitationem? Dolor voluptates placeat repudiandae sapiente doloribus aperiam repellendus? Alias quia debitis assumenda velit, ratione illum, deleniti commodi magni quasi hic labore placeat suscipit blanditiis ab?</p>
  </div>
{% endblock %}